<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CZCycleScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82BE4FCE1C0311BE009548DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82BE4FE71C0311BF009548DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82BE4FF21C0311BF009548DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
